.app {
  display: flex;
}

.app-content {
  margin-left: 200px;
  padding: 2rem;
  width: calc(100% - 200px);
}

@media (max-width: 1024px) {
  .app {
    flex-direction: column;
  }

  .app-content {
    margin-left: 0;
    padding: 1rem;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }

  .app-content {
    margin-left: 0;
    padding: 0;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .app-content {
    padding: 0;
  }
}